README.md
.git
.github
/.phpunit.cache
/node_modules
/public/build
/public/hot
/public/storage
/public/page-cache
/storage/*.key
/storage/app/local
/storage/debugbar
/storage/ssr
/storage/clockwork
/storage/logs
/storage/pail
/vendor
.env
.env.backup
.env.production
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.fleet
/.idea
/.vscode
.phpstorm.meta.php
_ide_helper_models.php
_ide_helper.php
.php-cs-fixer.cache
.husky
**/.DS_Store
.phpunit.database.checksum
.phpunit.cache
rr
.rr.yaml
frankenphp
.config
.data
