APP_NAME="INFINITE Dashboard"
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_TIMEZONE=UTC
APP_URL=http://localhost

APP_LOCALE=en
APP_FALLBACK_LOCALE=en
APP_FAKER_LOCALE=en_US

APP_MAINTENANCE_DRIVER=cache
APP_MAINTENANCE_STORE=database

HASH_DRIVER=argon2id
HASH_VERIFY=true
BCRYPT_ROUNDS=12
ARGON_MEMORY=65536
ARGON_THREADS=1
ARGON_TIME=4

AUTH_GUARD=api_headers
AUTH_SEMI_PUBLIC_GUARD=api_token
AUTH_DUMMY_USER_ID=

RATE_LIMITER_ENABLED=false

OIDC_CONFIGURATIONS_URI="https://auth.infiniteuny.id/.well-known/openid-configuration"
OIDC_CLIENT_ID=
OIDC_CLIENT_SECRET=

LOG_CHANNEL=stack
LOG_STACK=single
LOG_DEPRECATIONS_CHANNEL=null
LOG_LEVEL=debug

DB_CONNECTION=sqlite
# DB_HOST=127.0.0.1
# DB_PORT=3306
# DB_DATABASE=infinity
# DB_USERNAME=root
# DB_PASSWORD=

BROADCAST_CONNECTION=log

QUEUE_CONNECTION=database
FILESYSTEM_DISK=local

CACHE_STORE=file
CACHE_PREFIX=

REDIS_CLIENT=phpredis
REDIS_HOST=127.0.0.1
REDIS_PORT=6379
REDIS_PASSWORD=null

AUTHENTIK_BASE_URL="https://auth.infiniteuny.id"
AUTHENTIK_TOKEN=
AUTHENTIK_CORE_TEAM_GROUP_ID=
AUTHENTIK_XCORE_TEAM_GROUP_ID=
AUTHENTIK_CG_ADMIN_GROUP_ID=
AUTHENTIK_XCG_ADMIN_GROUP_ID=
AUTHENTIK_MEMBER_GROUP_ID=
AUTHENTIK_ADMIN_GROUP_ID=

MAIL_MAILER=log
MAIL_HOST=127.0.0.1
MAIL_PORT=2525
MAIL_USERNAME=null
MAIL_PASSWORD=null
MAIL_ENCRYPTION=null
MAIL_FROM_ADDRESS="noreply@infiniteuny.id"
MAIL_FROM_NAME="${APP_NAME}"

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=us-east-1
AWS_BUCKET=infinity
AWS_URL=
AWS_ENDPOINT=
AWS_USE_PATH_STYLE_ENDPOINT=true

VITE_APP_NAME="${APP_NAME}"
