openapi: 3.0.3
info:
  title: 'INFINITE Dashboard API Documentation'
  description: ''
  version: 1.11.15
servers:
  -
    url: 'https://api.infiniteuny.id/infinity'
tags:
  -
    name: Achievements
    description: "Manage team's achievements."
  -
    name: 'Community Group Admin Members'
    description: 'Manage community group administrator members.'
  -
    name: 'Community Group Admins'
    description: 'Manage community group administrators.'
  -
    name: 'Community Group Members'
    description: 'Manage community group members.'
  -
    name: 'Community Groups'
    description: 'Manage community groups.'
  -
    name: 'Competition Instances'
    description: 'Manage competition instances.'
  -
    name: 'Competition Organizer Types'
    description: 'Manage competition organizer types.'
  -
    name: 'Competition Outputs'
    description: 'Manage competition outputs.'
  -
    name: 'Competition Ranks'
    description: 'Manage competition ranks.'
  -
    name: 'Competition Scales'
    description: 'Manage competition scales.'
  -
    name: 'Competition Team Types'
    description: 'Manage competition team types.'
  -
    name: 'Competition Time Ranges'
    description: 'Manage competition time ranges.'
  -
    name: Competitions
    description: 'Manage competitions.'
  -
    name: Configs
    description: 'Manage configurations.'
  -
    name: 'Core Team Divisions'
    description: 'Manage core team divisions.'
  -
    name: 'Core Team Members'
    description: 'Manage core team members.'
  -
    name: 'Core Teams'
    description: 'Manage core teams.'
  -
    name: Degrees
    description: 'Manage degrees.'
  -
    name: Faculties
    description: 'Manage faculties.'
  -
    name: 'Fund Applications'
    description: 'Manage fund applications.'
  -
    name: 'Group Permissions'
    description: 'Manage group permissions.'
  -
    name: Groups
    description: 'Manage groups.'
  -
    name: Leaderboards
    description: 'Retrieve leaderboards.'
  -
    name: Majors
    description: 'Manage majors.'
  -
    name: Permissions
    description: 'Manage permissions.'
  -
    name: Personas
    description: 'Manage personas.'
  -
    name: 'Project Galleries'
    description: 'Manage project galleries.'
  -
    name: 'Team Members'
    description: 'Manage team members.'
  -
    name: Teams
    description: 'Manage teams.'
  -
    name: Testimonials
    description: 'Manage testimonials.'
  -
    name: Tokens
    description: 'Manage tokens.'
  -
    name: 'User Community Groups'
    description: 'Manage user community groups.'
  -
    name: 'User Groups'
    description: 'Manage user groups.'
  -
    name: 'User Permissions'
    description: 'Manage user permissions.'
  -
    name: 'User Personas'
    description: 'Manage user personas.'
  -
    name: Users
    description: 'Manage users.'
components:
  securitySchemes:
    default:
      type: http
      scheme: bearer
      description: 'OAuth 2.0 authentication using INFINITE Single Sign-On.'
security:
  -
    default: []
paths:
  /v1/achievements:
    get:
      summary: 'List all achievements'
      operationId: listAllAchievements
      description: ''
      parameters: []
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  status: success
                  data:
                    achievements:
                      -
                        id: cfc1dbf2-2115-3671-8335-2351785a7341
                        team_id: e9a36329-afff-3507-8c9f-f3ef8d689013
                        competition_instance_id: 7a081b8a-c41e-3c1b-8b56-9e855a745ba8
                        competition_team_type_id: b7a239a9-2e7e-3217-aac5-6e552ea43434
                        competition_scale_id: 8f6cd6d3-f1df-3b50-abbf-b0c01b0bd579
                        competition_time_range_id: 35c444b7-7a3c-3272-aea4-66e5053a8f28
                        competition_output_id: 44b33d40-ff24-3d7c-b8f1-d2727165ec68
                        competition_rank_id: 50768c40-2170-31f3-9310-c9209fb834c1
                        competition_branch: Voluptatem
                        competition_start_date: '1971-11-27T00:00:00+00:00'
                        competition_end_date: '1981-08-13T00:00:00+00:00'
                        description: 'Corrupti provident maiores saepe illo velit minima doloribus. Delectus assumenda excepturi ipsum suscipit enim. Neque qui alias fugiat praesentium voluptas sit laborum autem.'
                        image: 'https://api.infiniteuny.id/infinity/infinity/static/private/achievements/images/some-image-id.jpg?expires=1779035358&signature=8d85f059ada7d02f7755cca8bddbf47e4d66bfb7712176f5d8750721500c8735'
                        status: REJECTED
                        created_at: '2002-05-16T10:34:41+00:00'
                        updated_at: '2023-03-12T12:10:33+00:00'
                        point: 0
                      -
                        id: c19b8ea1-c753-31f6-ab26-9e1a19a2006d
                        team_id: a293e894-67b8-3d3e-9157-a3459be29ed7
                        competition_instance_id: 1d1d875a-9648-3a0e-b2cf-c47ecf453f91
                        competition_team_type_id: 52d23da7-45f3-3346-be23-752ee19aedda
                        competition_scale_id: b02f4886-06ef-33d3-81eb-8183490af8bb
                        competition_time_range_id: 962cf0b0-fb07-355a-af82-ec9dbd21c544
                        competition_output_id: 497913b7-c415-3e89-96f9-20fa4fbd33dc
                        competition_rank_id: e9b7e677-badc-3a8c-92fe-b1df20f66dfc
                        competition_branch: Illo
                        competition_start_date: '2008-11-14T00:00:00+00:00'
                        competition_end_date: '2008-11-10T00:00:00+00:00'
                        description: 'Eveniet asperiores qui cumque est error non. Aperiam neque laborum placeat quos rem aut. Id reiciendis inventore quo error dolor et.'
                        image: 'https://api.infiniteuny.id/infinity/infinity/static/private/achievements/images/some-image-id.jpg?expires=1779035358&signature=8d85f059ada7d02f7755cca8bddbf47e4d66bfb7712176f5d8750721500c8735'
                        status: ACCEPTED
                        created_at: '2000-09-17T15:28:15+00:00'
                        updated_at: '2021-10-25T12:04:50+00:00'
                        point: 0
                    meta:
                      per_page: 10
                      prev_cursor: null
                      next_cursor: null
                properties:
                  status:
                    type: string
                    example: success
                  data:
                    type: object
                    properties:
                      achievements:
                        type: array
                        example:
                          -
                            id: cfc1dbf2-2115-3671-8335-2351785a7341
                            team_id: e9a36329-afff-3507-8c9f-f3ef8d689013
                            competition_instance_id: 7a081b8a-c41e-3c1b-8b56-9e855a745ba8
                            competition_team_type_id: b7a239a9-2e7e-3217-aac5-6e552ea43434
                            competition_scale_id: 8f6cd6d3-f1df-3b50-abbf-b0c01b0bd579
                            competition_time_range_id: 35c444b7-7a3c-3272-aea4-66e5053a8f28
                            competition_output_id: 44b33d40-ff24-3d7c-b8f1-d2727165ec68
                            competition_rank_id: 50768c40-2170-31f3-9310-c9209fb834c1
                            competition_branch: Voluptatem
                            competition_start_date: '1971-11-27T00:00:00+00:00'
                            competition_end_date: '1981-08-13T00:00:00+00:00'
                            description: 'Corrupti provident maiores saepe illo velit minima doloribus. Delectus assumenda excepturi ipsum suscipit enim. Neque qui alias fugiat praesentium voluptas sit laborum autem.'
                            image: 'https://api.infiniteuny.id/infinity/infinity/static/private/achievements/images/some-image-id.jpg?expires=1779035358&signature=8d85f059ada7d02f7755cca8bddbf47e4d66bfb7712176f5d8750721500c8735'
                            status: REJECTED
                            created_at: '2002-05-16T10:34:41+00:00'
                            updated_at: '2023-03-12T12:10:33+00:00'
                            point: 0
                          -
                            id: c19b8ea1-c753-31f6-ab26-9e1a19a2006d
                            team_id: a293e894-67b8-3d3e-9157-a3459be29ed7
                            competition_instance_id: 1d1d875a-9648-3a0e-b2cf-c47ecf453f91
                            competition_team_type_id: 52d23da7-45f3-3346-be23-752ee19aedda
                            competition_scale_id: b02f4886-06ef-33d3-81eb-8183490af8bb
                            competition_time_range_id: 962cf0b0-fb07-355a-af82-ec9dbd21c544
                            competition_output_id: 497913b7-c415-3e89-96f9-20fa4fbd33dc
                            competition_rank_id: e9b7e677-badc-3a8c-92fe-b1df20f66dfc
                            competition_branch: Illo
                            competition_start_date: '2008-11-14T00:00:00+00:00'
                            competition_end_date: '2008-11-10T00:00:00+00:00'
                            description: 'Eveniet asperiores qui cumque est error non. Aperiam neque laborum placeat quos rem aut. Id reiciendis inventore quo error dolor et.'
                            image: 'https://api.infiniteuny.id/infinity/infinity/static/private/achievements/images/some-image-id.jpg?expires=1779035358&signature=8d85f059ada7d02f7755cca8bddbf47e4d66bfb7712176f5d8750721500c8735'
                            status: ACCEPTED
                            created_at: '2000-09-17T15:28:15+00:00'
                            updated_at: '2021-10-25T12:04:50+00:00'
                            point: 0
                        items:
                          type: object
                          properties:
                            id:
                              type: string
                              example: cfc1dbf2-2115-3671-8335-2351785a7341
                            team_id:
                              type: string
                              example: e9a36329-afff-3507-8c9f-f3ef8d689013
                            competition_instance_id:
                              type: string
                              example: 7a081b8a-c41e-3c1b-8b56-9e855a745ba8
                            competition_team_type_id:
                              type: string
                              example: b7a239a9-2e7e-3217-aac5-6e552ea43434
                            competition_scale_id:
                              type: string
                              example: 8f6cd6d3-f1df-3b50-abbf-b0c01b0bd579
                            competition_time_range_id:
                              type: string
                              example: 35c444b7-7a3c-3272-aea4-66e5053a8f28
                            competition_output_id:
                              type: string
                              example: 44b33d40-ff24-3d7c-b8f1-d2727165ec68
                            competition_rank_id:
                              type: string
                              example: 50768c40-2170-31f3-9310-c9209fb834c1
                            competition_branch:
                              type: string
                              example: Voluptatem
                            competition_start_date:
                              type: string
                              example: '1971-11-27T00:00:00+00:00'
                            competition_end_date:
                              type: string
                              example: '1981-08-13T00:00:00+00:00'
                            description:
                              type: string
                              example: 'Corrupti provident maiores saepe illo velit minima doloribus. Delectus assumenda excepturi ipsum suscipit enim. Neque qui alias fugiat praesentium voluptas sit laborum autem.'
                            image:
                              type: string
                              example: 'https://api.infiniteuny.id/infinity/infinity/static/private/achievements/images/some-image-id.jpg?expires=1779035358&signature=8d85f059ada7d02f7755cca8bddbf47e4d66bfb7712176f5d8750721500c8735'
                            status:
                              type: string
                              example: REJECTED
                            created_at:
                              type: string
                              example: '2002-05-16T10:34:41+00:00'
                            updated_at:
                              type: string
                              example: '2023-03-12T12:10:33+00:00'
                            point:
                              type: integer
                              example: 0
                      meta:
                        type: object
                        properties:
                          per_page:
                            type: integer
                            example: 10
                          prev_cursor:
                            type: string
                            example: null
                            nullable: true
                          next_cursor:
                            type: string
                            example: null
                            nullable: true
      tags:
        - Achievements
      security: []
    post:
      summary: 'Create an achievement'
      operationId: createAnAchievement
      description: ''
      parameters: []
      responses:
        201:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  status: success
                  data:
                    achievement:
                      id: 21c4122b-d554-3723-966c-6d723ea5293f
                      team_id: add3503c-ebff-3875-93af-b8c6a695762b
                      competition_instance_id: c3b6b42e-3a0f-3935-b28d-cb767f8a2a0a
                      competition_team_type_id: 51c7cf5e-fac2-3ac6-8ef8-61e6050503af
                      competition_scale_id: d207102d-bce0-31f9-8c36-aa9cf4cfe75a
                      competition_time_range_id: 10b3f4c6-2aaf-32e1-a52d-6bf43d9ddd70
                      competition_output_id: 3b33fac5-d303-3ce9-8d1f-c931158d7dad
                      competition_rank_id: 581cd32c-8f34-3eef-a581-d2ae1a3d17b6
                      competition_branch: Adipisci
                      competition_start_date: '2006-08-24T00:00:00+00:00'
                      competition_end_date: '2015-01-19T00:00:00+00:00'
                      description: 'Incidunt iure odit et et modi ipsum. Omnis autem et consequatur.'
                      image: 'http://api.infiniteuny.id/infinity/infinity/static/private/achievements/images/some-image-id.jpg?expires=1779035359&signature=ee0b48ef01124a626ca648aa22b4ef89cd451e32d5a0a623cd29e53381fcc664'
                      status: REJECTED
                      created_at: '2009-06-23T13:34:24+00:00'
                      updated_at: '1976-08-01T08:53:32+00:00'
                      point: 0
                properties:
                  status:
                    type: string
                    example: success
                  data:
                    type: object
                    properties:
                      achievement:
                        type: object
                        properties:
                          id:
                            type: string
                            example: 21c4122b-d554-3723-966c-6d723ea5293f
                          team_id:
                            type: string
                            example: add3503c-ebff-3875-93af-b8c6a695762b
                          competition_instance_id:
                            type: string
                            example: c3b6b42e-3a0f-3935-b28d-cb767f8a2a0a
                          competition_team_type_id:
                            type: string
                            example: 51c7cf5e-fac2-3ac6-8ef8-61e6050503af
                          competition_scale_id:
                            type: string
                            example: d207102d-bce0-31f9-8c36-aa9cf4cfe75a
                          competition_time_range_id:
                            type: string
                            example: 10b3f4c6-2aaf-32e1-a52d-6bf43d9ddd70
                          competition_output_id:
                            type: string
                            example: 3b33fac5-d303-3ce9-8d1f-c931158d7dad
                          competition_rank_id:
                            type: string
                            example: 581cd32c-8f34-3eef-a581-d2ae1a3d17b6
                          competition_branch:
                            type: string
                            example: Adipisci
                          competition_start_date:
                            type: string
                            example: '2006-08-24T00:00:00+00:00'
                          competition_end_date:
                            type: string
                            example: '2015-01-19T00:00:00+00:00'
                          description:
                            type: string
                            example: 'Incidunt iure odit et et modi ipsum. Omnis autem et consequatur.'
                          image:
                            type: string
                            example: 'http://api.infiniteuny.id/infinity/infinity/static/private/achievements/images/some-image-id.jpg?expires=1779035359&signature=ee0b48ef01124a626ca648aa22b4ef89cd451e32d5a0a623cd29e53381fcc664'
                          status:
                            type: string
                            example: REJECTED
                          created_at:
                            type: string
                            example: '2009-06-23T13:34:24+00:00'
                          updated_at:
                            type: string
                            example: '1976-08-01T08:53:32+00:00'
                          point:
                            type: integer
                            example: 0
      tags:
        - Achievements
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                team_id:
                  type: string
                  description: 'Must be a valid UUID. The <code>id</code> of an existing record in the teams table.'
                  example: 6ff8f7f6-1eb3-3525-be4a-3932c805afed
                competition_instance_id:
                  type: string
                  description: 'Must be a valid UUID. The <code>id</code> of an existing record in the competition_instances table.'
                  example: 6b72fe4a-5b40-307c-bc24-f79acf9a1bb9
                competition_scale_id:
                  type: string
                  description: 'Must be a valid UUID. The <code>id</code> of an existing record in the competition_scales table.'
                  example: 977e5426-8d13-3824-86aa-b092f8ae52c5
                competition_time_range_id:
                  type: string
                  description: 'Must be a valid UUID. The <code>id</code> of an existing record in the competition_time_ranges table.'
                  example: d6fa562b-acd5-35ff-babb-d11194d3737b
                competition_output_id:
                  type: string
                  description: 'Must be a valid UUID. The <code>id</code> of an existing record in the competition_outputs table.'
                  example: 5707ca55-f609-3528-be8b-1baeaee1567e
                competition_rank_id:
                  type: string
                  description: 'Must be a valid UUID. The <code>id</code> of an existing record in the competition_ranks table.'
                  example: 947170af-7488-3f30-a16d-723355a9502f
                competition_branch:
                  type: string
                  description: ''
                  example: architecto
                competition_start_date:
                  type: string
                  description: 'Must be a valid date. Must be a date before or equal to <code>competition_end_date</code>.'
                  example: '2022-06-10'
                competition_end_date:
                  type: string
                  description: 'Must be a valid date. Must be a date after or equal to <code>competition_start_date</code>.'
                  example: '2052-06-09'
                description:
                  type: string
                  description: ''
                  example: 'Eius et animi quos velit et.'
                image:
                  type: string
                  format: binary
                  description: 'Must be a file. Must not be greater than 5120 kilobytes.'
                status:
                  type: string
                  description: ''
                  example: PENDING
                  enum:
                    - PENDING
              required:
                - team_id
                - competition_instance_id
                - competition_scale_id
                - competition_time_range_id
                - competition_output_id
                - competition_rank_id
                - competition_branch
                - competition_start_date
                - competition_end_date
                - description
                - image
                - status
  '/v1/achievements/{id}':
    get:
      summary: 'Retrieve an achievement'
      operationId: retrieveAnAchievement
      description: ''
      parameters: []
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  status: success
                  data:
                    achievement:
                      id: a4855dc5-0acb-33c3-b921-f4291f719ca0
                      team_id: c90237e9-ced5-3af6-88ea-84aeaa148878
                      competition_instance_id: a1a0a47d-e8c3-3cf0-8e6e-c1ff9dca5d1f
                      competition_team_type_id: 21c4122b-d554-3723-966c-6d723ea5293f
                      competition_scale_id: add3503c-ebff-3875-93af-b8c6a695762b
                      competition_time_range_id: c3b6b42e-3a0f-3935-b28d-cb767f8a2a0a
                      competition_output_id: 51c7cf5e-fac2-3ac6-8ef8-61e6050503af
                      competition_rank_id: d207102d-bce0-31f9-8c36-aa9cf4cfe75a
                      competition_branch: Provident
                      competition_start_date: '1985-10-22T00:00:00+00:00'
                      competition_end_date: '2018-09-13T00:00:00+00:00'
                      description: 'Adipisci quidem nostrum qui commodi incidunt iure. Et et modi ipsum nostrum. Autem et consequatur aut dolores enim non facere tempora. Voluptatem laboriosam praesentium quis adipisci.'
                      image: 'http://api.infiniteuny.id/infinity/infinity/static/private/achievements/images/some-image-id.jpg?expires=1779035358&signature=8d85f059ada7d02f7755cca8bddbf47e4d66bfb7712176f5d8750721500c8735'
                      status: PENDING
                      created_at: '1976-06-12T01:02:48+00:00'
                      updated_at: '2005-06-24T01:49:59+00:00'
                      point: 0
                properties:
                  status:
                    type: string
                    example: success
                  data:
                    type: object
                    properties:
                      achievement:
                        type: object
                        properties:
                          id:
                            type: string
                            example: a4855dc5-0acb-33c3-b921-f4291f719ca0
                          team_id:
                            type: string
                            example: c90237e9-ced5-3af6-88ea-84aeaa148878
                          competition_instance_id:
                            type: string
                            example: a1a0a47d-e8c3-3cf0-8e6e-c1ff9dca5d1f
                          competition_team_type_id:
                            type: string
                            example: 21c4122b-d554-3723-966c-6d723ea5293f
                          competition_scale_id:
                            type: string
                            example: add3503c-ebff-3875-93af-b8c6a695762b
                          competition_time_range_id:
                            type: string
                            example: c3b6b42e-3a0f-3935-b28d-cb767f8a2a0a
                          competition_output_id:
                            type: string
                            example: 51c7cf5e-fac2-3ac6-8ef8-61e6050503af
                          competition_rank_id:
                            type: string
                            example: d207102d-bce0-31f9-8c36-aa9cf4cfe75a
                          competition_branch:
                            type: string
                            example: Provident
                          competition_start_date:
                            type: string
                            example: '1985-10-22T00:00:00+00:00'
                          competition_end_date:
                            type: string
                            example: '2018-09-13T00:00:00+00:00'
                          description:
                            type: string
                            example: 'Adipisci quidem nostrum qui commodi incidunt iure. Et et modi ipsum nostrum. Autem et consequatur aut dolores enim non facere tempora. Voluptatem laboriosam praesentium quis adipisci.'
                          image:
                            type: string
                            example: 'http://api.infiniteuny.id/infinity/infinity/static/private/achievements/images/some-image-id.jpg?expires=1779035358&signature=8d85f059ada7d02f7755cca8bddbf47e4d66bfb7712176f5d8750721500c8735'
                          status:
                            type: string
                            example: PENDING
                          created_at:
                            type: string
                            example: '1976-06-12T01:02:48+00:00'
                          updated_at:
                            type: string
                            example: '2005-06-24T01:49:59+00:00'
                          point:
                            type: integer
                            example: 0
      tags:
        - Achievements
      security: []
    put:
      summary: 'Update an achievement'
      operationId: updateAnAchievement
      description: ''
      parameters: []
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  status: success
                  data:
                    achievement:
                      id: 21c4122b-d554-3723-966c-6d723ea5293f
                      team_id: add3503c-ebff-3875-93af-b8c6a695762b
                      competition_instance_id: c3b6b42e-3a0f-3935-b28d-cb767f8a2a0a
                      competition_team_type_id: 51c7cf5e-fac2-3ac6-8ef8-61e6050503af
                      competition_scale_id: d207102d-bce0-31f9-8c36-aa9cf4cfe75a
                      competition_time_range_id: 10b3f4c6-2aaf-32e1-a52d-6bf43d9ddd70
                      competition_output_id: 3b33fac5-d303-3ce9-8d1f-c931158d7dad
                      competition_rank_id: 581cd32c-8f34-3eef-a581-d2ae1a3d17b6
                      competition_branch: Adipisci
                      competition_start_date: '2006-08-24T00:00:00+00:00'
                      competition_end_date: '2015-01-19T00:00:00+00:00'
                      description: 'Incidunt iure odit et et modi ipsum. Omnis autem et consequatur.'
                      image: 'http://api.infiniteuny.id/infinity/infinity/static/private/achievements/images/some-image-id.jpg?expires=1779035359&signature=ee0b48ef01124a626ca648aa22b4ef89cd451e32d5a0a623cd29e53381fcc664'
                      status: REJECTED
                      created_at: '2009-06-23T13:34:24+00:00'
                      updated_at: '1976-08-01T08:53:32+00:00'
                      point: 0
                properties:
                  status:
                    type: string
                    example: success
                  data:
                    type: object
                    properties:
                      achievement:
                        type: object
                        properties:
                          id:
                            type: string
                            example: 21c4122b-d554-3723-966c-6d723ea5293f
                          team_id:
                            type: string
                            example: add3503c-ebff-3875-93af-b8c6a695762b
                          competition_instance_id:
                            type: string
                            example: c3b6b42e-3a0f-3935-b28d-cb767f8a2a0a
                          competition_team_type_id:
                            type: string
                            example: 51c7cf5e-fac2-3ac6-8ef8-61e6050503af
                          competition_scale_id:
                            type: string
                            example: d207102d-bce0-31f9-8c36-aa9cf4cfe75a
                          competition_time_range_id:
                            type: string
                            example: 10b3f4c6-2aaf-32e1-a52d-6bf43d9ddd70
                          competition_output_id:
                            type: string
                            example: 3b33fac5-d303-3ce9-8d1f-c931158d7dad
                          competition_rank_id:
                            type: string
                            example: 581cd32c-8f34-3eef-a581-d2ae1a3d17b6
                          competition_branch:
                            type: string
                            example: Adipisci
                          competition_start_date:
                            type: string
                            example: '2006-08-24T00:00:00+00:00'
                          competition_end_date:
                            type: string
                            example: '2015-01-19T00:00:00+00:00'
                          description:
                            type: string
                            example: 'Incidunt iure odit et et modi ipsum. Omnis autem et consequatur.'
                          image:
                            type: string
                            example: 'http://api.infiniteuny.id/infinity/infinity/static/private/achievements/images/some-image-id.jpg?expires=1779035359&signature=ee0b48ef01124a626ca648aa22b4ef89cd451e32d5a0a623cd29e53381fcc664'
                          status:
                            type: string
                            example: REJECTED
                          created_at:
                            type: string
                            example: '2009-06-23T13:34:24+00:00'
                          updated_at:
                            type: string
                            example: '1976-08-01T08:53:32+00:00'
                          point:
                            type: integer
                            example: 0
      tags:
        - Achievements
      requestBody:
        required: false
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                team_id:
                  type: string
                  description: 'Must be a valid UUID. The <code>id</code> of an existing record in the teams table.'
                  example: 6ff8f7f6-1eb3-3525-be4a-3932c805afed
                competition_instance_id:
                  type: string
                  description: 'Must be a valid UUID. The <code>id</code> of an existing record in the competition_instances table.'
                  example: 6b72fe4a-5b40-307c-bc24-f79acf9a1bb9
                competition_scale_id:
                  type: string
                  description: 'Must be a valid UUID. The <code>id</code> of an existing record in the competition_scales table.'
                  example: 977e5426-8d13-3824-86aa-b092f8ae52c5
                competition_time_range_id:
                  type: string
                  description: 'Must be a valid UUID. The <code>id</code> of an existing record in the competition_time_ranges table.'
                  example: d6fa562b-acd5-35ff-babb-d11194d3737b
                competition_output_id:
                  type: string
                  description: 'Must be a valid UUID. The <code>id</code> of an existing record in the competition_outputs table.'
                  example: 5707ca55-f609-3528-be8b-1baeaee1567e
                competition_rank_id:
                  type: string
                  description: 'Must be a valid UUID. The <code>id</code> of an existing record in the competition_ranks table.'
                  example: 947170af-7488-3f30-a16d-723355a9502f
                competition_branch:
                  type: string
                  description: ''
                  example: architecto
                competition_start_date:
                  type: string
                  description: 'Must be a valid date. Must be a date before or equal to <code>competition_end_date</code>.'
                  example: '2022-06-10'
                competition_end_date:
                  type: string
                  description: 'Must be a valid date. Must be a date after or equal to <code>competition_start_date</code>.'
                  example: '2052-06-09'
                description:
                  type: string
                  description: ''
                  example: 'Eius et animi quos velit et.'
                image:
                  type: string
                  format: binary
                  description: 'Must be a file. Must not be greater than 5120 kilobytes.'
                status:
                  type: string
                  description: ''
                  example: PENDING
                  enum:
                    - PENDING
    delete:
      summary: 'Delete an achievement'
      operationId: deleteAnAchievement
      description: ''
      parameters: []
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  status: success
                  data:
                    achievement:
                      id: bfc53181-d647-36b2-9080-f9c2b76006f4
                      team_id: 5d093e7f-5aae-3aa3-bece-f6e784dcbd67
                      competition_instance_id: 445bd3f6-8f2c-38cb-aa04-2f4e1edb32bb
                      competition_team_type_id: deea2dce-ea5d-340f-90ce-c06cddd4c879
                      competition_scale_id: d9be5934-80e7-34a9-a136-841b5f0aea83
                      competition_time_range_id: 6c868c6d-85fb-3170-87f4-2bdcd8769991
                      competition_output_id: 1cdf7bf0-e381-3a72-a922-e680daa4dd16
                      competition_rank_id: 013e1265-7fdf-327c-9ed4-fc05e74df42b
                      competition_branch: Et
                      competition_start_date: '2003-07-15T00:00:00+00:00'
                      competition_end_date: '2019-08-30T00:00:00+00:00'
                      description: 'Maiores assumenda odit doloribus repellat. Corporis nesciunt ut ratione iure impedit molestiae.'
                      image: 'http://api.infiniteuny.id/infinity/infinity/static/private/achievements/images/some-image-id.jpg?expires=1779035359&signature=ee0b48ef01124a626ca648aa22b4ef89cd451e32d5a0a623cd29e53381fcc664'
                      status: ACCEPTED
                      created_at: '1979-09-27T10:37:29+00:00'
                      updated_at: '2012-12-26T20:08:09+00:00'
                      point: 0
                properties:
                  status:
                    type: string
                    example: success
                  data:
                    type: object
                    properties:
                      achievement:
                        type: object
                        properties:
                          id:
                            type: string
                            example: bfc53181-d647-36b2-9080-f9c2b76006f4
                          team_id:
                            type: string
                            example: 5d093e7f-5aae-3aa3-bece-f6e784dcbd67
                          competition_instance_id:
                            type: string
                            example: 445bd3f6-8f2c-38cb-aa04-2f4e1edb32bb
                          competition_team_type_id:
                            type: string
                            example: deea2dce-ea5d-340f-90ce-c06cddd4c879
                          competition_scale_id:
                            type: string
                            example: d9be5934-80e7-34a9-a136-841b5f0aea83
                          competition_time_range_id:
                            type: string
                            example: 6c868c6d-85fb-3170-87f4-2bdcd8769991
                          competition_output_id:
                            type: string
                            example: 1cdf7bf0-e381-3a72-a922-e680daa4dd16
                          competition_rank_id:
                            type: string
                            example: 013e1265-7fdf-327c-9ed4-fc05e74df42b
                          competition_branch:
                            type: string
                            example: Et
                          competition_start_date:
                            type: string
                            example: '2003-07-15T00:00:00+00:00'
                          competition_end_date:
                            type: string
                            example: '2019-08-30T00:00:00+00:00'
                          description:
                            type: string
                            example: 'Maiores assumenda odit doloribus repellat. Corporis nesciunt ut ratione iure impedit molestiae.'
                          image:
                            type: string
                            example: 'http://api.infiniteuny.id/infinity/infinity/static/private/achievements/images/some-image-id.jpg?expires=1779035359&signature=ee0b48ef01124a626ca648aa22b4ef89cd451e32d5a0a623cd29e53381fcc664'
                          status:
                            type: string
                            example: ACCEPTED
                          created_at:
                            type: string
                            example: '1979-09-27T10:37:29+00:00'
                          updated_at:
                            type: string
                            example: '2012-12-26T20:08:09+00:00'
                          point:
                            type: integer
                            example: 0
      tags:
        - Achievements
    parameters:
      -
        in: path
        name: id
        description: 'The ID of the achievement.'
        example: architecto
        required: true
        schema:
          type: string
  '/v1/community-group-admins/{community_group_admin_id}/members':
    get:
      summary: 'List all community group administrator members'
      operationId: listAllCommunityGroupAdministratorMembers
      description: ''
      parameters: []
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  status: success
                  data:
                    community_group_admin_members:
                      -
                        id: a4855dc5-0acb-33c3-b921-f4291f719ca0
                        name: "Aleen O'kon"
                        email_address: marquardt.noah@cronin.com
                        phone_number: 820.525.5058
                        student_id: '71632351142'
                        major_id: 6ebf23d5-4d7a-3c7c-9da4-0e13da370246
                        links:
                          github: 'http://www.stokes.com/tempora-ex-voluptatem-laboriosam-praesentium-quis.html'
                          linkedin: 'http://www.haag.org/distinctio-eum-doloremque-id-aut-libero-aliquam-veniam-corporis'
                          website: 'http://www.schaden.com/odit-quia-officia-est-dignissimos-neque-blanditiis-odio.html'
                        start_date: '1973-10-20'
                        end_date: '2001-08-15'
                        is_member: true
                        is_extraordinary: false
                        created_at: '1978-02-21T03:10:37+00:00'
                        updated_at: '1995-01-30T23:03:05+00:00'
                        membership:
                          id: 7299053e-5fea-32a4-be53-165db447cc87
                          user_id: a4855dc5-0acb-33c3-b921-f4291f719ca0
                          community_group_admin_id: 7bf95f9e-5598-3dfb-aac6-bcd7a2f2f4ae
                          community_group_id: 2da616f3-ce5e-38f4-9369-f1be3919879d
                          photo: 'https://api.infiniteuny.id/infinity/static/community-group-admins/photos/some-photo-id.jpg'
                          animation: 'https://api.infiniteuny.id/infinity/static/community-group-admins/animations/some-animation-id.gif'
                          created_at: '1986-03-18T13:19:23+00:00'
                          updated_at: '2024-01-13T01:48:03+00:00'
                        is_active: false
                      -
                        id: 079d22ad-aa1d-3464-af6a-6f1ca215693f
                        name: 'Josephine Dare'
                        email_address: edna59@gmail.com
                        phone_number: 973-982-7468
                        student_id: '46514850820'
                        major_id: fcba8e73-dfba-3576-8ee2-226f12ade1a7
                        links:
                          github: 'http://klocko.com/molestiae-ut-rem-est-esse'
                          linkedin: 'http://brekke.com/suscipit-doloribus-fugiat-ut-aut-deserunt-et-error'
                          website: 'http://tromp.com/dolorem-et-ut-dicta'
                        start_date: '2001-03-13'
                        end_date: '1979-09-27'
                        is_member: false
                        is_extraordinary: true
                        created_at: '1970-05-07T11:50:26+00:00'
                        updated_at: '1986-07-22T21:26:28+00:00'
                        membership:
                          id: 06cd53f5-e932-3a98-90f7-9447be932740
                          user_id: 079d22ad-aa1d-3464-af6a-6f1ca215693f
                          community_group_admin_id: 9d037e2a-f548-3b63-b77d-aa5266f2c8fc
                          community_group_id: 34ae4bba-78dc-3844-bf40-4c415c5e170f
                          photo: 'https://api.infiniteuny.id/infinity/static/community-group-admins/photos/some-photo-id.jpg'
                          animation: 'https://api.infiniteuny.id/infinity/static/community-group-admins/animations/some-animation-id.gif'
                          created_at: '1996-12-09T15:42:25+00:00'
                          updated_at: '1993-01-22T16:41:41+00:00'
                        is_active: false
                    meta:
                      per_page: 10
                      prev_cursor: null
                      next_cursor: null
                properties:
                  status:
                    type: string
                    example: success
                  data:
                    type: object
                    properties:
                      community_group_admin_members:
                        type: array
                        example:
                          -
                            id: a4855dc5-0acb-33c3-b921-f4291f719ca0
                            name: "Aleen O'kon"
                            email_address: marquardt.noah@cronin.com
                            phone_number: 820.525.5058
                            student_id: '71632351142'
                            major_id: 6ebf23d5-4d7a-3c7c-9da4-0e13da370246
                            links:
                              github: 'http://www.stokes.com/tempora-ex-voluptatem-laboriosam-praesentium-quis.html'
                              linkedin: 'http://www.haag.org/distinctio-eum-doloremque-id-aut-libero-aliquam-veniam-corporis'
                              website: 'http://www.schaden.com/odit-quia-officia-est-dignissimos-neque-blanditiis-odio.html'
                            start_date: '1973-10-20'
                            end_date: '2001-08-15'
                            is_member: true
                            is_extraordinary: false
                            created_at: '1978-02-21T03:10:37+00:00'
                            updated_at: '1995-01-30T23:03:05+00:00'
                            membership:
                              id: 7299053e-5fea-32a4-be53-165db447cc87
                              user_id: a4855dc5-0acb-33c3-b921-f4291f719ca0
                              community_group_admin_id: 7bf95f9e-5598-3dfb-aac6-bcd7a2f2f4ae
                              community_group_id: 2da616f3-ce5e-38f4-9369-f1be3919879d
                              photo: 'https://api.infiniteuny.id/infinity/static/community-group-admins/photos/some-photo-id.jpg'
                              animation: 'https://api.infiniteuny.id/infinity/static/community-group-admins/animations/some-animation-id.gif'
                              created_at: '1986-03-18T13:19:23+00:00'
                              updated_at: '2024-01-13T01:48:03+00:00'
                            is_active: false
                          -
                            id: 079d22ad-aa1d-3464-af6a-6f1ca215693f
                            name: 'Josephine Dare'
                            email_address: edna59@gmail.com
                            phone_number: 973-982-7468
                            student_id: '46514850820'
                            major_id: fcba8e73-dfba-3576-8ee2-226f12ade1a7
                            links:
                              github: 'http://klocko.com/molestiae-ut-rem-est-esse'
                              linkedin: 'http://brekke.com/suscipit-doloribus-fugiat-ut-aut-deserunt-et-error'
                              website: 'http://tromp.com/dolorem-et-ut-dicta'
                            start_date: '2001-03-13'
                            end_date: '1979-09-27'
                            is_member: false
                            is_extraordinary: true
                            created_at: '1970-05-07T11:50:26+00:00'
                            updated_at: '1986-07-22T21:26:28+00:00'
                            membership:
                              id: 06cd53f5-e932-3a98-90f7-9447be932740
                              user_id: 079d22ad-aa1d-3464-af6a-6f1ca215693f
                              community_group_admin_id: 9d037e2a-f548-3b63-b77d-aa5266f2c8fc
                              community_group_id: 34ae4bba-78dc-3844-bf40-4c415c5e170f
                              photo: 'https://api.infiniteuny.id/infinity/static/community-group-admins/photos/some-photo-id.jpg'
                              animation: 'https://api.infiniteuny.id/infinity/static/community-group-admins/animations/some-animation-id.gif'
                              created_at: '1996-12-09T15:42:25+00:00'
                              updated_at: '1993-01-22T16:41:41+00:00'
                            is_active: false
                        items:
                          type: object
                          properties:
                            id:
                              type: string
                              example: a4855dc5-0acb-33c3-b921-f4291f719ca0
                            name:
                              type: string
                              example: "Aleen O'kon"
                            email_address:
                              type: string
                              example: marquardt.noah@cronin.com
                            phone_number:
                              type: string
                              example: 820.525.5058
                            student_id:
                              type: string
                              example: '71632351142'
                            major_id:
                              type: string
                              example: 6ebf23d5-4d7a-3c7c-9da4-0e13da370246
                            links:
                              type: object
                              properties:
                                github:
                                  type: string
                                  example: 'http://www.stokes.com/tempora-ex-voluptatem-laboriosam-praesentium-quis.html'
                                linkedin:
                                  type: string
                                  example: 'http://www.haag.org/distinctio-eum-doloremque-id-aut-libero-aliquam-veniam-corporis'
                                website:
                                  type: string
                                  example: 'http://www.schaden.com/odit-quia-officia-est-dignissimos-neque-blanditiis-odio.html'
                            start_date:
                              type: string
                              example: '1973-10-20'
                            end_date:
                              type: string
                              example: '2001-08-15'
                            is_member:
                              type: boolean
                              example: true
                            is_extraordinary:
                              type: boolean
                              example: false
                            created_at:
                              type: string
                              example: '1978-02-21T03:10:37+00:00'
                            updated_at:
                              type: string
                              example: '1995-01-30T23:03:05+00:00'
                            membership:
                              type: object
                              properties:
                                id:
                                  type: string
                                  example: 7299053e-5fea-32a4-be53-165db447cc87
                                user_id:
                                  type: string
                                  example: a4855dc5-0acb-33c3-b921-f4291f719ca0
                                community_group_admin_id:
                                  type: string
                                  example: 7bf95f9e-5598-3dfb-aac6-bcd7a2f2f4ae
                                community_group_id:
                                  type: string
                                  example: 2da616f3-ce5e-38f4-9369-f1be3919879d
                                photo:
                                  type: string
                                  example: 'https://api.infiniteuny.id/infinity/static/community-group-admins/photos/some-photo-id.jpg'
                                animation:
                                  type: string
                                  example: 'https://api.infiniteuny.id/infinity/static/community-group-admins/animations/some-animation-id.gif'
                                created_at:
                                  type: string
                                  example: '1986-03-18T13:19:23+00:00'
                                updated_at:
                                  type: string
                                  example: '2024-01-13T01:48:03+00:00'
                            is_active:
                              type: boolean
                              example: false
                      meta:
                        type: object
                        properties:
                          per_page:
                            type: integer
                            example: 10
                          prev_cursor:
                            type: string
                            example: null
                            nullable: true
                          next_cursor:
                            type: string
                            example: null
                            nullable: true
      tags:
        - 'Community Group Admin Members'
      security: []
    post:
      summary: 'Create a community group administrator member'
      operationId: createACommunityGroupAdministratorMember
      description: ''
      parameters: []
      responses:
        201:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  status: success
                  data:
                    community_group_admin_member:
                      id: 977e5426-8d13-3824-86aa-b092f8ae52c5
                      name: 'Justina Gaylord'
                      email_address: gilbert32@marquardt.com
                      phone_number: +1-267-944-1627
                      student_id: '32342870092'
                      major_id: 013e1265-7fdf-327c-9ed4-fc05e74df42b
                      links:
                        github: 'http://smitham.com/enim-non-facere-tempora-ex-voluptatem-laboriosam-praesentium'
                        linkedin: 'https://labadie.com/deleniti-distinctio-eum-doloremque-id-aut.html'
                        website: 'http://klocko.com/dolorem-mollitia-deleniti-nemo'
                      start_date: '2009-06-23'
                      end_date: '1976-08-01'
                      is_member: false
                      is_extraordinary: true
                      created_at: '1999-10-12T05:09:05+00:00'
                      updated_at: '2014-08-18T14:21:19+00:00'
                      membership:
                        id: 3a87aacf-b9fa-3196-a711-8910cad3c293
                        user_id: 977e5426-8d13-3824-86aa-b092f8ae52c5
                        community_group_admin_id: dc407d02-9b9b-35e5-8d69-87904a6787e3
                        community_group_id: b3dfd3b4-abf6-34e6-9ab5-ef739060a5da
                        photo: 'https://api.infiniteuny.id/infinity/static/community-group-admins/photos/some-photo-id.jpg'
                        animation: 'https://api.infiniteuny.id/infinity/static/community-group-admins/animations/some-animation-id.gif'
                        created_at: '1978-02-21T03:10:37+00:00'
                        updated_at: '1995-01-30T23:03:05+00:00'
                      is_active: false
                properties:
                  status:
                    type: string
                    example: success
                  data:
                    type: object
                    properties:
                      community_group_admin_member:
                        type: object
                        properties:
                          id:
                            type: string
                            example: 977e5426-8d13-3824-86aa-b092f8ae52c5
                          name:
                            type: string
                            example: 'Justina Gaylord'
                          email_address:
                            type: string
                            example: gilbert32@marquardt.com
                          phone_number:
                            type: string
                            example: +1-267-944-1627
                          student_id:
                            type: string
                            example: '32342870092'
                          major_id:
                            type: string
                            example: 013e1265-7fdf-327c-9ed4-fc05e74df42b
                          links:
                            type: object
                            properties:
                              github:
                                type: string
                                example: 'http://smitham.com/enim-non-facere-tempora-ex-voluptatem-laboriosam-praesentium'
                              linkedin:
                                type: string
                                example: 'https://labadie.com/deleniti-distinctio-eum-doloremque-id-aut.html'
                              website:
                                type: string
                                example: 'http://klocko.com/dolorem-mollitia-deleniti-nemo'
                          start_date:
                            type: string
                            example: '2009-06-23'
                          end_date:
                            type: string
                            example: '1976-08-01'
                          is_member:
                            type: boolean
                            example: false
                          is_extraordinary:
                            type: boolean
                            example: true
                          created_at:
                            type: string
                            example: '1999-10-12T05:09:05+00:00'
                          updated_at:
                            type: string
                            example: '2014-08-18T14:21:19+00:00'
                          membership:
                            type: object
                            properties:
                              id:
                                type: string
                                example: 3a87aacf-b9fa-3196-a711-8910cad3c293
                              user_id:
                                type: string
                                example: 977e5426-8d13-3824-86aa-b092f8ae52c5
                              community_group_admin_id:
                                type: string
                                example: dc407d02-9b9b-35e5-8d69-87904a6787e3
                              community_group_id:
                                type: string
                                example: b3dfd3b4-abf6-34e6-9ab5-ef739060a5da
                              photo:
                                type: string
                                example: 'https://api.infiniteuny.id/infinity/static/community-group-admins/photos/some-photo-id.jpg'
                              animation:
                                type: string
                                example: 'https://api.infiniteuny.id/infinity/static/community-group-admins/animations/some-animation-id.gif'
                              created_at:
                                type: string
                                example: '1978-02-21T03:10:37+00:00'
                              updated_at:
                                type: string
                                example: '1995-01-30T23:03:05+00:00'
                          is_active:
                            type: boolean
                            example: false
      tags:
        - 'Community Group Admin Members'
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                user_id:
                  type: string
                  description: 'Must be a valid UUID. The <code>id</code> of an existing record in the users table.'
                  example: 6ff8f7f6-1eb3-3525-be4a-3932c805afed
                community_group_id:
                  type: string
                  description: 'Must be a valid UUID. The <code>id</code> of an existing record in the community_groups table.'
                  example: 6b72fe4a-5b40-307c-bc24-f79acf9a1bb9
                photo:
                  type: string
                  format: binary
                  description: 'Must be a file. Must not be greater than 5120 kilobytes.'
                animation:
                  type: string
                  format: binary
                  description: 'Must be a file. Must not be greater than 5120 kilobytes.'
                  nullable: true
              required:
                - user_id
                - community_group_id
                - photo
    parameters:
      -
        in: path
        name: community_group_admin_id
        description: 'The ID of the community group admin.'
        example: architecto
        required: true
        schema:
          type: string
  '/v1/community-group-admin-members/{id}':
    get:
      summary: 'Retrieve a community group administrator member'
      operationId: retrieveACommunityGroupAdministratorMember
      description: ''
      parameters: []
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  status: success
                  data:
                    community_group_admin_member:
                      id: a4855dc5-0acb-33c3-b921-f4291f719ca0
                      name: "Aleen O'kon"
                      email_address: sleffler@yahoo.com
                      phone_number: '+12063337339'
                      student_id: '18437937146'
                      major_id: 0e2442a9-fa81-3115-8890-8b00ec9cd683
                      links:
                        github: 'http://ankunding.biz/veniam-corporis-dolorem-mollitia'
                        linkedin: 'http://www.fahey.com/officia-est-dignissimos-neque-blanditiis-odio-veritatis-excepturi.html'
                        website: 'https://emmerich.info/repudiandae-laboriosam-est-alias-tenetur-ratione.html'
                      start_date: '1994-07-22'
                      end_date: '1986-03-18'
                      is_member: false
                      is_extraordinary: true
                      created_at: '2005-09-29T05:08:01+00:00'
                      updated_at: '1990-01-14T13:16:03+00:00'
                      membership:
                        id: fecaf9fe-6060-39af-b373-7563b93c16ba
                        user_id: a4855dc5-0acb-33c3-b921-f4291f719ca0
                        community_group_admin_id: 031f95e4-1390-3b90-9bf7-07ce1efd0a5f
                        community_group_id: fbfcb7d8-9709-33e7-b1ee-ad9e734c960c
                        photo: 'https://api.infiniteuny.id/infinity/static/community-group-admins/photos/some-photo-id.jpg'
                        animation: 'https://api.infiniteuny.id/infinity/static/community-group-admins/animations/some-animation-id.gif'
                        created_at: '1981-01-06T21:28:39+00:00'
                        updated_at: '1996-04-07T07:48:53+00:00'
                      is_active: false
                properties:
                  status:
                    type: string
                    example: success
                  data:
                    type: object
                    properties:
                      community_group_admin_member:
                        type: object
                        properties:
                          id:
                            type: string
                            example: a4855dc5-0acb-33c3-b921-f4291f719ca0
                          name:
                            type: string
                            example: "Aleen O'kon"
                          email_address:
                            type: string
                            example: sleffler@yahoo.com
                          phone_number:
                            type: string
                            example: '+12063337339'
                          student_id:
                            type: string
                            example: '18437937146'
                          major_id:
                            type: string
                            example: 0e2442a9-fa81-3115-8890-8b00ec9cd683
                          links:
                            type: object
                            properties:
                              github:
                                type: string
                                example: 'http://ankunding.biz/veniam-corporis-dolorem-mollitia'
                              linkedin:
                                type: string
                                example: 'http://www.fahey.com/officia-est-dignissimos-neque-blanditiis-odio-veritatis-excepturi.html'
                              website:
                                type: string
                                example: 'https://emmerich.info/repudiandae-laboriosam-est-alias-tenetur-ratione.html'
                          start_date:
                            type: string
                            example: '1994-07-22'
                          end_date:
                            type: string
                            example: '1986-03-18'
                          is_member:
                            type: boolean
                            example: false
                          is_extraordinary:
                            type: boolean
                            example: true
                          created_at:
                            type: string
                            example: '2005-09-29T05:08:01+00:00'
                          updated_at:
                            type: string
                            example: '1990-01-14T13:16:03+00:00'
                          membership:
                            type: object
                            properties:
                              id:
                                type: string
                                example: fecaf9fe-6060-39af-b373-7563b93c16ba
                              user_id:
                                type: string
                                example: a4855dc5-0acb-33c3-b921-f4291f719ca0
                              community_group_admin_id:
                                type: string
                                example: 031f95e4-1390-3b90-9bf7-07ce1efd0a5f
                              community_group_id:
                                type: string
                                example: fbfcb7d8-9709-33e7-b1ee-ad9e734c960c
                              photo:
                                type: string
                                example: 'https://api.infiniteuny.id/infinity/static/community-group-admins/photos/some-photo-id.jpg'
                              animation:
                                type: string
                                example: 'https://api.infiniteuny.id/infinity/static/community-group-admins/animations/some-animation-id.gif'
                              created_at:
                                type: string
                                example: '1981-01-06T21:28:39+00:00'
                              updated_at:
                                type: string
                                example: '1996-04-07T07:48:53+00:00'
                          is_active:
                            type: boolean
                            example: false
      tags:
        - 'Community Group Admin Members'
      security: []
    put:
      summary: 'Update a community group administrator member'
      operationId: updateACommunityGroupAdministratorMember
      description: ''
      parameters: []
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  status: success
                  data:
                    community_group_admin_member:
                      id: 977e5426-8d13-3824-86aa-b092f8ae52c5
                      name: 'Justina Gaylord'
                      email_address: cbeier@gmail.com
                      phone_number: 731.688.3974
                      student_id: '60040780716'
                      major_id: f5450c36-cbb4-3022-a48d-b1c1bcd285aa
                      links:
                        github: 'http://kovacek.info/'
                        linkedin: 'http://www.crist.com/tenetur-ab-reiciendis-quia-perspiciatis'
                        website: 'https://www.lemke.com/dolores-quia-maiores-assumenda-odit-doloribus-repellat-officiis'
                      start_date: '1986-02-19'
                      end_date: '2021-05-31'
                      is_member: false
                      is_extraordinary: true
                      created_at: '2017-08-25T13:06:21+00:00'
                      updated_at: '1998-09-05T08:11:02+00:00'
                      membership:
                        id: 52588106-c7d5-3cb5-a50e-672dcd656368
                        user_id: 977e5426-8d13-3824-86aa-b092f8ae52c5
                        community_group_admin_id: 84614a84-7a78-3276-b72a-735334c9a032
                        community_group_id: 4d08ad85-13a7-32e9-86de-fb3dca87190a
                        photo: 'https://api.infiniteuny.id/infinity/static/community-group-admins/photos/some-photo-id.jpg'
                        animation: 'https://api.infiniteuny.id/infinity/static/community-group-admins/animations/some-animation-id.gif'
                        created_at: '2020-08-28T14:28:15+00:00'
                        updated_at: '1977-05-02T01:48:41+00:00'
                      is_active: false
                properties:
                  status:
                    type: string
                    example: success
                  data:
                    type: object
                    properties:
                      community_group_admin_member:
                        type: object
                        properties:
                          id:
                            type: string
                            example: 977e5426-8d13-3824-86aa-b092f8ae52c5
                          name:
                            type: string
                            example: 'Justina Gaylord'
                          email_address:
                            type: string
                            example: cbeier@gmail.com
                          phone_number:
                            type: string
                            example: 731.688.3974
                          student_id:
                            type: string
                            example: '60040780716'
                          major_id:
                            type: string
                            example: f5450c36-cbb4-3022-a48d-b1c1bcd285aa
                          links:
                            type: object
                            properties:
                              github:
                                type: string
                                example: 'http://kovacek.info/'
                              linkedin:
                                type: string
                                example: 'http://www.crist.com/tenetur-ab-reiciendis-quia-perspiciatis'
                              website:
                                type: string
                                example: 'https://www.lemke.com/dolores-quia-maiores-assumenda-odit-doloribus-repellat-officiis'
                          start_date:
                            type: string
                            example: '1986-02-19'
                          end_date:
                            type: string
                            example: '2021-05-31'
                          is_member:
                            type: boolean
                            example: false
                          is_extraordinary:
                            type: boolean
                            example: true
                          created_at:
                            type: string
                            example: '2017-08-25T13:06:21+00:00'
                          updated_at:
                            type: string
                            example: '1998-09-05T08:11:02+00:00'
                          membership:
                            type: object
                            properties:
                              id:
                                type: string
                                example: 52588106-c7d5-3cb5-a50e-672dcd656368
                              user_id:
                                type: string
                                example: 977e5426-8d13-3824-86aa-b092f8ae52c5
                              community_group_admin_id:
                                type: string
                                example: 84614a84-7a78-3276-b72a-735334c9a032
                              community_group_id:
                                type: string
                                example: 4d08ad85-13a7-32e9-86de-fb3dca87190a
                              photo:
                                type: string
                                example: 'https://api.infiniteuny.id/infinity/static/community-group-admins/photos/some-photo-id.jpg'
                              animation:
                                type: string
                                example: 'https://api.infiniteuny.id/infinity/static/community-group-admins/animations/some-animation-id.gif'
                              created_at:
                                type: string
                                example: '2020-08-28T14:28:15+00:00'
                              updated_at:
                                type: string
                                example: '1977-05-02T01:48:41+00:00'
                          is_active:
                            type: boolean
                            example: false
      tags:
        - 'Community Group Admin Members'
      requestBody:
        required: false
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                user_id:
                  type: string
                  description: 'Must be a valid UUID. The <code>id</code> of an existing record in the users table.'
                  example: 6ff8f7f6-1eb3-3525-be4a-3932c805afed
                community_group_id:
                  type: string
                  description: 'Must be a valid UUID. The <code>id</code> of an existing record in the community_groups table.'
                  example: 6b72fe4a-5b40-307c-bc24-f79acf9a1bb9
                photo:
                  type: string
                  format: binary
                  description: 'Must be a file. Must not be greater than 5120 kilobytes.'
                animation:
                  type: string
                  format: binary
                  description: 'Must be a file. Must not be greater than 5120 kilobytes.'
                  nullable: true
    delete:
      summary: 'Delete a community group administrator member'
      operationId: deleteACommunityGroupAdministratorMember
      description: ''
      parameters: []
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  status: success
                  data:
                    community_group_admin_member:
                      id: bfc53181-d647-36b2-9080-f9c2b76006f4
                      name: 'Rogers Leuschke Phd'
                      email_address: elton.conroy@oreilly.net
                      phone_number: 269-915-6037
                      student_id: '69538059950'
                      major_id: af49b819-28db-33bd-b66b-66e0bad1c5fa
                      links:
                        github: 'http://cassin.com/perspiciatis-deserunt-ducimus-corrupti-et-dolores-quia.html'
                        linkedin: 'https://thiel.com/repellat-officiis-corporis-nesciunt-ut.html'
                        website: 'http://corwin.com/'
                      start_date: '2021-02-03'
                      end_date: '1978-09-11'
                      is_member: true
                      is_extraordinary: false
                      created_at: '2022-01-13T02:28:57+00:00'
                      updated_at: '2020-08-28T14:28:15+00:00'
                      membership:
                        id: 8c352249-2535-3e45-8de4-d6620458a778
                        user_id: bfc53181-d647-36b2-9080-f9c2b76006f4
                        community_group_admin_id: efb45134-b05b-36f6-b20a-f93610c7e46f
                        community_group_id: 3b05dc60-a939-36e1-be6a-a35bf360405f
                        photo: 'https://api.infiniteuny.id/infinity/static/community-group-admins/photos/some-photo-id.jpg'
                        animation: 'https://api.infiniteuny.id/infinity/static/community-group-admins/animations/some-animation-id.gif'
                        created_at: '1986-11-14T05:24:09+00:00'
                        updated_at: '2003-08-31T03:03:12+00:00'
                      is_active: false
                properties:
                  status:
                    type: string
                    example: success
                  data:
                    type: object
                    properties:
                      community_group_admin_member:
                        type: object
                        properties:
                          id:
                            type: string
                            example: bfc53181-d647-36b2-9080-f9c2b76006f4
                          name:
                            type: string
                            example: 'Rogers Leuschke Phd'
                          email_address:
                            type: string
                            example: elton.conroy@oreilly.net
                          phone_number:
                            type: string
                            example: 269-915-6037
                          student_id:
                            type: string
                            example: '69538059950'
                          major_id:
                            type: string
                            example: af49b819-28db-33bd-b66b-66e0bad1c5fa
                          links:
                            type: object
                            properties:
                              github:
                                type: string
                                example: 'http://cassin.com/perspiciatis-deserunt-ducimus-corrupti-et-dolores-quia.html'
                              linkedin:
                                type: string
                                example: 'https://thiel.com/repellat-officiis-corporis-nesciunt-ut.html'
                              website:
                                type: string
                                example: 'http://corwin.com/'
                          start_date:
                            type: string
                            example: '2021-02-03'
                          end_date:
                            type: string
                            example: '1978-09-11'
                          is_member:
                            type: boolean
                            example: true
                          is_extraordinary:
                            type: boolean
                            example: false
                          created_at:
                            type: string
                            example: '2022-01-13T02:28:57+00:00'
                          updated_at:
                            type: string
                            example: '2020-08-28T14:28:15+00:00'
                          membership:
                            type: object
                            properties:
                              id:
                                type: string
                                example: 8c352249-2535-3e45-8de4-d6620458a778
                              user_id:
                                type: string
                                example: bfc53181-d647-36b2-9080-f9c2b76006f4
                              community_group_admin_id:
                                type: string
                                example: efb45134-b05b-36f6-b20a-f93610c7e46f
                              community_group_id:
                                type: string
                                example: 3b05dc60-a939-36e1-be6a-a35bf360405f
                              photo:
                                type: string
                                example: 'https://api.infiniteuny.id/infinity/static/community-group-admins/photos/some-photo-id.jpg'
                              animation:
                                type: string
                                example: 'https://api.infiniteuny.id/infinity/static/community-group-admins/animations/some-animation-id.gif'
                              created_at:
                                type: string
                                example: '1986-11-14T05:24:09+00:00'
                              updated_at:
                                type: string
                                example: '2003-08-31T03:03:12+00:00'
                          is_active:
                            type: boolean
                            example: false
      tags:
        - 'Community Group Admin Members'
    parameters:
      -
        in: path
        name: id
        description: 'The ID of the community group admin member.'
        example: architecto
        required: true
        schema:
          type: string
  /v1/community-group-admins:
    get:
      summary: 'List all community group administrators'
      operationId: listAllCommunityGroupAdministrators
      description: ''
      parameters: []
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  status: success
                  data:
                    community_group_admins:
                      -
                        id: 5f936efd-e185-3891-a84d-e9ea08ed9d45
                        year: '2013'
                        created_at: '1977-01-10T09:55:00+00:00'
                        updated_at: '1990-12-11T21:36:08+00:00'
                      -
                        id: d553e1c3-0e01-333f-aae0-a6d9ef90c849
                        year: '1991'
                        created_at: '1972-12-27T20:40:15+00:00'
                        updated_at: '2022-10-19T12:55:46+00:00'
                    meta:
                      per_page: 10
                      prev_cursor: null
                      next_cursor: null
                properties:
                  status:
                    type: string
                    example: success
                  data:
                    type: object
                    properties:
                      community_group_admins:
                        type: array
                        example:
                          -
                            id: 5f936efd-e185-3891-a84d-e9ea08ed9d45
                            year: '2013'
                            created_at: '1977-01-10T09:55:00+00:00'
                            updated_at: '1990-12-11T21:36:08+00:00'
                          -
                            id: d553e1c3-0e01-333f-aae0-a6d9ef90c849
                            year: '1991'
                            created_at: '1972-12-27T20:40:15+00:00'
                            updated_at: '2022-10-19T12:55:46+00:00'
                        items:
                          type: object
                          properties:
                            id:
                              type: string
                              example: 5f936efd-e185-3891-a84d-e9ea08ed9d45
                            year:
                              type: string
                              example: '2013'
                            created_at:
                              type: string
                              example: '1977-01-10T09:55:00+00:00'
                            updated_at:
                              type: string
                              example: '1990-12-11T21:36:08+00:00'
                      meta:
                        type: object
                        properties:
                          per_page:
                            type: integer
                            example: 10
                          prev_cursor:
                            type: string
                            example: null
                            nullable: true
                          next_cursor:
                            type: string
                            example: null
                            nullable: true
      tags:
        - 'Community Group Admins'
      security: []
    post:
      summary: 'Create a community group administrator'
      operationId: createACommunityGroupAdministrator
      description: ''
      parameters: []
      responses:
        201:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  status: success
                  data:
                    community_group_admin:
                      id: a4855dc5-0acb-33c3-b921-f4291f719ca0
                      year: '2024'
                      created_at: '1973-03-15T03:02:36+00:00'
                      updated_at: '1996-12-07T19:26:44+00:00'
                properties:
                  status:
                    type: string
                    example: success
                  data:
                    type: object
                    properties:
                      community_group_admin:
                        type: object
                        properties:
                          id:
                            type: string
                            example: a4855dc5-0acb-33c3-b921-f4291f719ca0
                          year:
                            type: string
                            example: '2024'
                          created_at:
                            type: string
                            example: '1973-03-15T03:02:36+00:00'
                          updated_at:
                            type: string
                            example: '1996-12-07T19:26:44+00:00'
      tags:
        - 'Community Group Admins'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                year:
                  type: integer
                  description: ''
                  example: 16
                is_active:
                  type: boolean
                  description: ''
                  example: false
              required:
                - year
                - is_active
  '/v1/community-group-admins/{id}':
    get:
      summary: 'Retrieve a community group administrator'
      operationId: retrieveACommunityGroupAdministrator
      description: ''
      parameters: []
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  status: success
                  data:
                    community_group_admin:
                      id: a4855dc5-0acb-33c3-b921-f4291f719ca0
                      year: '2024'
                      created_at: '1973-03-15T03:02:37+00:00'
                      updated_at: '1996-12-07T19:26:45+00:00'
                properties:
                  status:
                    type: string
                    example: success
                  data:
                    type: object
                    properties:
                      community_group_admin:
                        type: object
                        properties:
                          id:
                            type: string
                            example: a4855dc5-0acb-33c3-b921-f4291f719ca0
                          year:
                            type: string
                            example: '2024'
                          created_at:
                            type: string
                            example: '1973-03-15T03:02:37+00:00'
                          updated_at:
                            type: string
                            example: '1996-12-07T19:26:45+00:00'
      tags:
        - 'Community Group Admins'
      security: []
    put:
      summary: 'Update a community group administrator'
      operationId: updateACommunityGroupAdministrator
      description: ''
      parameters: []
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  status: success
                  data:
                    community_group_admin:
                      id: a4855dc5-0acb-33c3-b921-f4291f719ca0
                      year: '2024'
                      created_at: '1973-03-15T03:02:36+00:00'
                      updated_at: '1996-12-07T19:26:44+00:00'
                properties:
                  status:
                    type: string
                    example: success
                  data:
                    type: object
                    properties:
                      community_group_admin:
                        type: object
                        properties:
                          id:
                            type: string
                            example: a4855dc5-0acb-33c3-b921-f4291f719ca0
                          year:
                            type: string
                            example: '2024'
                          created_at:
                            type: string
                            example: '1973-03-15T03:02:36+00:00'
                          updated_at:
                            type: string
                            example: '1996-12-07T19:26:44+00:00'
      tags:
        - 'Community Group Admins'
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                year:
                  type: integer
                  description: ''
                  example: 16
                is_active:
                  type: boolean
                  description: ''
                  example: true
    delete:
      summary: 'Delete a community group administrator'
      operationId: deleteACommunityGroupAdministrator
      description: ''
      parameters: []
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  status: success
                  data:
                    community_group_admin:
                      id: bfc53181-d647-36b2-9080-f9c2b76006f4
                      year: '2006'
                      created_at: '2015-01-19T20:47:12+00:00'
                      updated_at: '2010-08-17T04:08:41+00:00'
                properties:
                  status:
                    type: string
                    example: success
                  data:
                    type: object
                    properties:
                      community_group_admin:
                        type: object
                        properties:
                          id:
                            type: string
                            example: bfc53181-d647-36b2-9080-f9c2b76006f4
                          year:
                            type: string
                            example: '2006'
                          created_at:
                            type: string
                            example: '2015-01-19T20:47:12+00:00'
                          updated_at:
                            type: string
                            example: '2010-08-17T04:08:41+00:00'
      tags:
        - 'Community Group Admins'
    parameters:
      -
        in: path
        name: id
        description: 'The ID of the community group admin.'
        example: architecto
        required: true
        schema:
          type: string
  '/v1/community-groups/{community_group_id}/members':
    get:
      summary: 'List all community group members'
      operationId: listAllCommunityGroupMembers
      description: ''
      parameters: []
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  status: success
                  data:
                    community_group_members:
                      -
                        id: a4855dc5-0acb-33c3-b921-f4291f719ca0
                        name: "Aleen O'kon"
                        email_address: lexus42@gmail.com
                        phone_number: 253.392.8862
                        student_id: '53454247343'
                        major_id: 6c868c6d-85fb-3170-87f4-2bdcd8769991
                        links:
                          github: 'http://www.okeefe.net/et-consequatur-aut-dolores-enim'
                          linkedin: 'http://vonrueden.com/'
                          website: 'http://www.leffler.info/quis-adipisci-molestias-fugit-deleniti-distinctio-eum'
                        start_date: '1977-01-10'
                        end_date: '1990-12-11'
                        is_member: false
                        is_extraordinary: true
                        created_at: '1991-02-18T12:00:44+00:00'
                        updated_at: '1972-12-27T20:40:15+00:00'
                        membership:
                          id: 2d85fc8c-1f12-35b2-8d02-e99ae5c47a0e
                          user_id: a4855dc5-0acb-33c3-b921-f4291f719ca0
                          community_group_id: 45e62725-5da9-35c7-82db-977f64d08292
                          created_at: '1988-03-23T17:37:57+00:00'
                          updated_at: '2009-06-23T13:34:25+00:00'
                        is_active: false
                      -
                        id: 29635f5e-45e3-3a71-90b8-942cfd8ffe97
                        name: "Rodrigo O'connell"
                        email_address: pagac.skylar@yahoo.com
                        phone_number: 260-842-0483
                        student_id: '16934464815'
                        major_id: cd7c94c7-777c-3bc2-ab81-c1d1c184670a
                        links:
                          github: 'http://www.crist.com/tenetur-ab-reiciendis-quia-perspiciatis'
                          linkedin: 'https://www.lemke.com/dolores-quia-maiores-assumenda-odit-doloribus-repellat-officiis'
                          website: 'http://kreiger.info/'
                        start_date: '2008-10-27'
                        end_date: '2017-08-25'
                        is_member: true
                        is_extraordinary: true
                        created_at: '1978-09-11T17:38:02+00:00'
                        updated_at: '1973-07-07T05:31:42+00:00'
                        membership:
                          id: 741f623f-132b-3692-ab2c-a09b08acdad6
                          user_id: 29635f5e-45e3-3a71-90b8-942cfd8ffe97
                          community_group_id: 95fbc6f1-62ad-37e9-b66f-26b48c54c413
                          created_at: '1977-05-02T01:48:41+00:00'
                          updated_at: '1997-11-30T21:21:39+00:00'
                        is_active: false
                    meta:
                      per_page: 10
                      prev_cursor: null
                      next_cursor: null
                properties:
                  status:
                    type: string
                    example: success
                  data:
                    type: object
                    properties:
                      community_group_members:
                        type: array
                        example:
                          -
                            id: a4855dc5-0acb-33c3-b921-f4291f719ca0
                            name: "Aleen O'kon"
                            email_address: lexus42@gmail.com
                            phone_number: 253.392.8862
                            student_id: '53454247343'
                            major_id: 6c868c6d-85fb-3170-87f4-2bdcd8769991
                            links:
                              github: 'http://www.okeefe.net/et-consequatur-aut-dolores-enim'
                              linkedin: 'http://vonrueden.com/'
                              website: 'http://www.leffler.info/quis-adipisci-molestias-fugit-deleniti-distinctio-eum'
                            start_date: '1977-01-10'
                            end_date: '1990-12-11'
                            is_member: false
                            is_extraordinary: true
                            created_at: '1991-02-18T12:00:44+00:00'
                            updated_at: '1972-12-27T20:40:15+00:00'
                            membership:
                              id: 2d85fc8c-1f12-35b2-8d02-e99ae5c47a0e
                              user_id: a4855dc5-0acb-33c3-b921-f4291f719ca0
                              community_group_id: 45e62725-5da9-35c7-82db-977f64d08292
                              created_at: '1988-03-23T17:37:57+00:00'
                              updated_at: '2009-06-23T13:34:25+00:00'
                            is_active: false
                          -
                            id: 29635f5e-45e3-3a71-90b8-942cfd8ffe97
                            name: "Rodrigo O'connell"
                            email_address: pagac.skylar@yahoo.com
                            phone_number: 260-842-0483
                            student_id: '16934464815'
                            major_id: cd7c94c7-777c-3bc2-ab81-c1d1c184670a
                            links:
                              github: 'http://www.crist.com/tenetur-ab-reiciendis-quia-perspiciatis'
                              linkedin: 'https://www.lemke.com/dolores-quia-maiores-assumenda-odit-doloribus-repellat-officiis'
                              website: 'http://kreiger.info/'
                            start_date: '2008-10-27'
                            end_date: '2017-08-25'
                            is_member: true
                            is_extraordinary: true
                            created_at: '1978-09-11T17:38:02+00:00'
                            updated_at: '1973-07-07T05:31:42+00:00'
                            membership:
                              id: 741f623f-132b-3692-ab2c-a09b08acdad6
                              user_id: 29635f5e-45e3-3a71-90b8-942cfd8ffe97
                              community_group_id: 95fbc6f1-62ad-37e9-b66f-26b48c54c413
                              created_at: '1977-05-02T01:48:41+00:00'
                              updated_at: '1997-11-30T21:21:39+00:00'
                            is_active: false
                        items:
                          type: object
                          properties:
                            id:
                              type: string
                              example: a4855dc5-0acb-33c3-b921-f4291f719ca0
                            name:
                              type: string
[...]
