.login-card .login-main .theme-form .or:before {
    width: 60%;
}

:root {
    --theme-deafult: #27835d;
    --theme-secondary: #3c7c60;
}

.btn-outline-primary {
    border-color: #27835d;
    color: #27835d;
    background-color: transparent;
}

.btn-outline-primary:hover,.btn-outline-primary:focus,.btn-outline-primary:active,.btn-outline-primary.active{
    color:white;background-color:#27835d !important;
    border-color:#27835d !important;
    -webkit-box-shadow:none;
    box-shadow:none
}